body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#background-container {
    background-image: url('adult-body-mass-index-guide-alt-1440x810.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-links {
    background-color: black;
}
#header-container {
    text-align: center;
}

#header-container h1 {
    color: #fff;
    font-size: 3em;
    margin: 0;
}

#calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    text-align: center;
}
